fastapi
uvicorn[standard]
python-multipart
pytesseract
pdf2image
PyMuPDF
Pillow
pydantic
sqlalchemy
python-jose
python-dotenv
pydantic[email]
requests
tiktoken
google-cloud-vision
tdqm
bcrypt==3.2.0
passlib>=1.7.4